* {
	margin: 0;
	padding: 0;
}

body {
	background:white;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}


a{
	color:black;
	text-decoration: none;
}



.header p {
	
	text-align: center;
	padding: 20px 0;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	/*border:10px solid #000;*/
	margin: auto;
	font-size: 30px;
	line-height: 50px;
	text-align: center;

}

.contenedor > div {
	display: block;
	/*padding: 20px;*/
	color: #000000;
	background: #ffffff;
	
}



.codigoimg{
	width: 100px; /* anchura */

}

.youtubeimg{
	width: 100px; /* anchura */
	

}
.turboimg{
	width: 100px; /* anchura */
}

/* imagenes de titulos */

.malvinasimg{
	width: 200px;
}
.socdimg{
	width: 200px; 
}
.rotationimg{
	width: 200px;
}
.conectividadimg{
	width: 200px; 
}
.layoutimg{
	width: 200px; 
}
.movimientoimg{
	width:200px;
}
.graveyardimg{
	width:200px;
}
.stickimg{
	width:200px;
}
.stickcaseimg{
	width:200px;
}
/* contenedores */

@media screen and (max-width:768px){

	.logo{
        width: 125px; /* anchura */
        justify-self: stretch;
        align-self: center;
        

    }
}