* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffcc00;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.links a {
	text-decoration: none; 
	color: #eceff1;
}

.header p {
	font-size: 50px;
	text-align: center;
	padding: 20px 0;
}

.contenedor {
	width: 90%;
	max-width: 2000px;
	border:10px solid #000;
	margin: auto;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

.contenedor > div {
	display: block;
	padding: 20px;
	color: #ffffff;
	background: #2f89fc;
	box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}
.mishi{
	width: 250px; /* anchura */
	

}

.layoutimg{
	width: 500px; /* anchura */
	

}
.codigoimg{
	width: 250px; /* anchura */
	

}
.interfazimg{
	width: 250px; /* anchura */
	

}
.youtubeimg{
	width: 300px; /* anchura */
	

}
.turboimg{
	width: 250px; /* anchura */
	

}
.usbimg{
	width: 250px; /* anchura */
	

}
.ps3img{
	width: 250px; /* anchura */
	

}

@media screen and (max-width:768px){
	.logo{
        width: 125px; /* anchura */
        justify-self: stretch;
        align-self: center;
        

    }
}