.contenedor {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    
    grid-template-areas:    "header         header"
                            "turbo          turbo"
                            "intro          intro"
                     
                            "footer         footer";


    

}
.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;
}
.contenedor .intro{
    background: #ffffff;
    grid-area: intro;


}
.contenedor .turbo{
    grid-area: turbo;
    background: #ffffff;

}
.contenedor .turbo .turboframe{
    width:485px; 
    height:402px; 

}

.contenedor .scratch{
    background: #ffffff;
    grid-area: scratch;


}
.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}

@media screen and (max-width:768px){

    .turbowarp {
        width: 75px;
    }
    .scratchimg {
        width: 150px;
    }
    .contenedor .turbo .turboframe{
        width: 291px;
        height: 241px;
    
    }

    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:    "header header"
                                "turbo  turbo"
                                "intro  intro"                                                             
                                "footer footer";

    }
}