.contenedor {
    
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (13, auto);
    justify-content: center;
    
    grid-template-areas:    "header         header"
                            "socd           socd"
                            "modo1          modo1"
                            "img1           img2"
                            "video1         video1"

                            "modo2          modo2"
                            "img3           img4"

                            "modo3          modo3"
                            "img5           img6"
                            "video3         video3"
                            "modo4          modo4"
                            "img7           img8" 

                            "footer         footer";


}
.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;

}


.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}

.contenedor .socd{
    justify-self:center;
    background: #ffffff;
    color: #0a0000;
    grid-area: socd;
 



}

.contenedor .modo1{
    /* justify-self: stretch;
    align-self: center; */
    background: #0a0000;
    grid-area: modo1;
    color:#ffffff;


}

.contenedor .modo2{
    /* justify-self: stretch;
    align-self: center; */
    background: #0a0000;
    grid-area: modo2;
    color:#ffffff;


}
.contenedor .modo3{
    /* justify-self: stretch;
    align-self: center; */
    background: #0a0000;
    grid-area: modo3;
    color:#ffffff;

}
.contenedor .modo4{
    /* justify-self: stretch;
    align-self: center; */
    background: #0a0000;
    grid-area: modo4;
    color:#ffffff;


}

.contenedor .img1{
    grid-area: img1;
}
.contenedor .img2{
    grid-area: img2;
}
.contenedor .img3{
    grid-area: img3;
}
.contenedor .img4{
    grid-area: img4;
}

.contenedor .img5{
    grid-area: img5;
}
.contenedor .img6{
    grid-area: img6;
}
.contenedor .img7{
    grid-area: img7;
}
.contenedor .img8{
    grid-area: img8;
}

.contenedor .video1{
    grid-area: video1;
}
.contenedor .video3{
    grid-area: video3;
}

.videocon{
    /*width="315" height="560"*/
    width:630px;
    height: 1120px;
}


.imgtop{
	width: 500px; /* anchura */
	

}

.imgbot{
	width: 500px; /* anchura */
	

}

.contenedor .du{
    background: #0a0000;
    grid-area: du;
    color:#ffffff;
}
.contenedor .lr1{
    background: #0a0000;
    grid-area: lr1;
    color:#ffffff;
}



@media screen and (max-width:768px){
    .videocon{
        /*width="315" height="560"*/
        width:300px;
        height: 533px;
    
    }
    body{
        background: #d60909;
        color:rgb(255, 255, 255);
        
    }
    .caja{
        width: 300px; /* anchura */
        
        
    }
    img{
        width: 270px; /* anchura */
        justify-self: stretch;
        align-self: center;
        

    }

    .imgtop{
        width: 300px; /* anchura */
        
    
    }
    
    .imgbot{
        width: 300px; /* anchura */
        
    
    }
    .contenedor .socd{
        justify-self:center;
        width: 300px;
    }

    .contenedor{
        grid-template-rows: repat(16, auto);
        grid-template-areas:    "header         header"
                                "socd           socd"
                                "modo1          modo1"
                                "img1           img1"
                                "img2           img2"
                                "video1         video1"

                                "modo2          modo2"
                                "img3           img3"
                                "img4           img4"

                                "modo3          modo3"
                                "img5           img5"
                                "img6           img6"
                                "video3         video3"
                                "modo4          modo4"
                                "img7           img7"
                                "img8           img8"                                                                                                
                                "footer         footer";

    }
}