.contenedor {
    display: grid;
    gap:10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(8, auto);
    justify-content: center;
    
    grid-template-areas:    "header         header"
                            "rotacion       rotacion"
                            "modo1          modo2"
                            "img1           img2"
                            
                            "descripcion    descripcion"
                            "medio          video"

                            "footer         footer";

    /*horizontal auto stretch, end, start, center
    justify-items: center;
    vertical
    align-items: center; */

    

}
.contenedor .header{
    background: #f88000;
    grid-area: header;


}




.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}



.contenedor .modo1{
    /* justify-self: stretch;
    align-self: center; */
    background: #0a0000;
    grid-area: modo1;
    color:#ffffff;


}

.contenedor .modo2{
    /* justify-self: stretch;
    align-self: center; */
    background: #0a0000;
    grid-area: modo2;
    color:#ffffff;


}


.contenedor .img1{
    grid-area: img1;
}
.contenedor .img2{
    grid-area: img2;
}

.contenedor .rotacion{
    grid-area: rotacion;



    
}
.contenedor .descripcion{
    grid-area: descripcion;

}

.contenedor .medio{
    grid-area: medio;
}
.contenedor .video{
    grid-area: video;
}
.joy2{
    width: 300px;
}
.joy3{
    width: 300px;
}
.videocon{
    /*width="315" height="560" */
    width: 315px;
    height: 560px;
}
.medioimg{
    width: 400px;
}

@media screen and (max-width:768px){
    body{
        background: #d60909;
        color:rgb(255, 255, 255);
        
    }
    .caja{
        width: 300px; /* anchura */
        
        
    }
    .mishi{
        width: 75px; /* anchura */
        justify-self: stretch;
        align-self: center;
        

    }
    .medioimg{
        width: 200px;
    }
    .joy2{
        width: 200px;
    }
    .joy3{
        width: 200px;
    }
    .videocon{
        /*width="315" height="560"*/
        width:300px;
        height: 533px;

    }

    .contenedor{
        font-size: 15px;
        grid-template-rows: repeat(10, auto) ;
        grid-template-areas:    "header         header"
                                "medio          medio"
                                "rotacion       rotacion"
                                                               
                                "modo1          modo1"
                                "img1           img1"
                                "modo2          modo2"
                                "img2           img2"
                                "video          video"
                                "descripcion    descripcion"
                                "footer         footer";

    }
}