.contenedor {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    
    grid-template-areas:    "header         header"
                            "intro          intro"
                            "layout         layout"
                            "carrusel       carrusel"
                    
                            "footer         footer";


    

}
.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;
    z-index:3;


}
.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}
.contenedor .intro{
    background: #ffffff;
    grid-area: intro;
    

}
.contenedor .layout{
    grid-area: layout;
}
.layoutimg{
    width: 800px;
}
.contenedor .carrusel{
    grid-area: carrusel;
}


@media screen and (max-width:768px){

    .layoutimg{
        width: 300px;
    }
    

    .contenedor{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:    "header header"
                                "layout layout"
                                "intro  intro"
                                
                                "carrusel carrusel"                                                    
                                "footer footer";

    }
}