.contenedor {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas:    "header         header"
                            "intro          intro"
                    
                            "footer         footer";


    

}
.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;


}
.contenedor .footer{
    background: #000000;
    grid-area: footer;
}
.contenedor .intro{
    background: #ffffff;
    grid-area: intro;
}

@media screen and (max-width:768px){



    .contenedor{
        font-size: 15px;
       grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:    "header header"
                                "intro  intro"                                                    
                                "footer footer";

    }
}