.contenedor {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    
    grid-template-areas:    "header         header"
                            "intro          intro"
                            "carrusel       carrusel"
                            "islas          colegio"
                     
                            "footer         footer";


    

}
.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;
}
.contenedor .intro{
    background: #ffffff;
    grid-area: intro;


}
.contenedor .turbo{
    background: #ffffff;
    grid-area: turbo;


}
.contenedor .scratch{
    background: #ffffff;
    grid-area: scratch;


}
.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}
.contenedor .islas{
    background: #ffffff;
    grid-area: islas;

}
.contenedor .colegio{
    background: #ffffff;
    grid-area: colegio;

}
.contenedor .carrusel{
    grid-area: carrusel;
    justify-content: center;
}
.islasimg{
    width:350px;

}
.colegioimg{
    width:300px;
    
}
@media screen and (max-width:768px){
    body{
        background: #d60909;
        color:rgb(255, 255, 255);
        
    }
    .turbowarp {
        width: 75px;
    }
    .islasimg {
        width: 120px;
    }

    .colegioimg {
        width: 100px;
    }

    .contenedor{
        font-size: 15px;
       grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:    "header     header"
                                "intro      intro"
                                "carrusel   carrusel"
                                "islas      colegio"                                                             
                                "footer     footer";

    }
}