.contenedor {
    display: grid;
    gap:20px;
    justify-content: center;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto 100px;
    
    grid-template-areas:    "header         header          header"
                            "malvinascon    socd            rotacion"
                            "conectividad   layout          intercambio"
                            "carrusel       carrusel        carrusel"
                            
                            
                            "codigo         turbo           youtube"
                           
                            "footer         footer          footer";


    

}



.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;


}

.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}

.contenedor .socd{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: socd;
    background: #f88000;


}

.contenedor .rotacion{
    /* justify-self: stretch;
    align-self: center; */
    
    grid-area: rotacion;
    background: #f88000;


}

.contenedor .intercambio{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: intercambio;
    background: #f88000;


}
.contenedor .compatibilidad{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: compatibilidad;
    background: #f88000;


}
.contenedor .conectividad{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: conectividad;
    background: #f88000;


}

.contenedor .layout{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: layout;
    background: #f88000;


}

.contenedor .codigo{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: codigo;
    background: #ffffff;
    justify-self: stretch;
    align-self: center;


}

.contenedor .interfaz{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: interfaz;
    background: #f88000;


}

.contenedor .malvinascon{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: malvinascon;
    background: #f88000;

   

}

.contenedor .turbo{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: turbo;
    background: #ffffff; 
    justify-self: stretch;
    align-self: center;


}

.contenedor .colegio{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: colegio;
    background: #ffffff;
}

.contenedor .youtube{
    
    grid-area: youtube;
    background: #ffffff;
    justify-self: stretch;
    align-self: center;

}
.contenedor .carrusel{
    grid-area: carrusel;
}
@media screen and (max-width:768px){
    body{
        background: #d60909;
        color:rgb(255, 255, 255);
        
    }
    .codigoimg{
        width: 100px; /* anchura */
    
    }
    
    .youtubeimg{
        width: 100px; /* anchura */
        
    
    }
    .turboimg{
        width: 100px; /* anchura */
    }
    



    .contenedor{
        
        font-size: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content:center;
        grid-template-rows: auto repeat(9, auto);
        grid-template-areas:    "header          header          header"
                                "malvinascon     malvinascon     malvinascon"
       
                                "socd            socd            socd"
                                "intercambio     intercambio     intercambio"
                                "rotacion        rotacion        rotacion"
                                "layout          layout          layout"                                    
                                "conectividad    conectividad    conectividad"
                                "carrusel        carrusel        carrusel"
                                "codigo          turbo           youtube"
                                "footer          footer          footer";

    }
}