.contenedor {
    display: grid;
    gap:20px;
    justify-content: center;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    
    grid-template-areas:    "header         header          header"
                            
                            "conectividad   layout          intercambio"
                            "malvinascon    socd            rotacion"
                            "graveyard      stick           tutorials"

                            "carrusel       carrusel        carrusel"
                            
                            
                            "codigo         turbo           youtube"
                           
                            "footer         footer          footer";


    

}
.contenedor .graveyard{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: graveyard;
    background: #f88000;
}
.contenedor .pvp{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: pvp;
    background: #f88000;
}
.contenedor .tutorials{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: tutorials;
    background: #f88000;
}
.contenedor .school{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: school;
    background: #f88000;
}
.contenedor .stick{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: stick;
    background: #f88000;
}
.contenedor .stickcase{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: stickcase;
    background: #f88000;
}


.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;
    z-index:3;


}

.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}

.contenedor .socd{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: socd;
    background: #f88000;


}

.contenedor .rotacion{
    /* justify-self: stretch;
    align-self: center; */
    
    grid-area: rotacion;
    background: #f88000;


}

.contenedor .intercambio{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: intercambio;
    background: #f88000;


}
.contenedor .compatibilidad{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: compatibilidad;
    background: #f88000;


}
.contenedor .conectividad{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: conectividad;
    background: #f88000;


}

.contenedor .layout{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: layout;
    background: #f88000;


}

.contenedor .codigo{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: codigo;
    background: #ffffff;
    justify-self: stretch;
    align-self: center;


}

.contenedor .interfaz{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: interfaz;
    background: #f88000;


}

.contenedor .malvinascon{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: malvinascon;
    background: #f88000;

   

}

.contenedor .turbo{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: turbo;
    background: #ffffff; 
    justify-self: stretch;
    align-self: center;


}

.contenedor .colegio{
    /* justify-self: stretch;
    align-self: center; */
    grid-area: colegio;
    background: #ffffff;
}

.contenedor .youtube{
    
    grid-area: youtube;
    background: #ffffff;
    justify-self: stretch;
    align-self: center;

}
.contenedor .carrusel{
    grid-area: carrusel;
}
@media screen and (max-width:768px){
    body{
        background: white;
        
        
    }
    .codigoimg{
        width: 100px; /* anchura */
    
    }
    
    .youtubeimg{
        width: 100px; /* anchura */
        
    
    }
    .turboimg{
        width: 100px; /* anchura */
    }
    



    .contenedor{
        
        grid-template-columns: 1fr 1fr 1fr;
        justify-content:center;
        grid-template-rows: auto repeat(6, auto);
        grid-template-areas:    "header          header          header"
                                "malvinascon     malvinascon     malvinascon"
                                "tutorials       tutorials       tutorials"
                                "graveyard       graveyard       graveyard"
                                "socd            socd            socd"
                                "intercambio     intercambio     intercambio"
                                "rotacion        rotacion        rotacion"
                                "layout          layout          layout"                                    
                                "conectividad    conectividad    conectividad"
                                "stick           stick           stick"
                                "carrusel        carrusel        carrusel"
                                "codigo          turbo           youtube"
                                "footer          footer          footer";

    }
}