.contenedor {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    
    grid-template-areas:    "header         header"
                            "intro          carrusel"
                            "intro          proyectos"
                            "islas          colegio"
                            "footer         footer";


    

}
.islasimg{
    width:350px;

}
.colegioimg{
    width:300px;
    
}
.contenedor .header{
    background: #f88000;
    grid-area: header;
    top:0;
    position: sticky;
    z-index:3;
   
}
.contenedor .intro{
    background: #ffffff;
    grid-area: intro;
    width: 500px;


}
.contenedor .turbo{
    background: #ffffff;
    grid-area: turbo;


}
.contenedor .scratch{
    background: #ffffff;
    grid-area: scratch;


}
.contenedor .footer{
    background: #0a0000;
    grid-area: footer;
    color:#ffffff;

}
.contenedor .islas{
    background: #ffffff;
    grid-area: islas;

}
.contenedor .colegio{
    background: #ffffff;
    grid-area: colegio;

}
.contenedor .carrusel{
    background: #ffffff;
    grid-area: carrusel;
    position: bottom;
    width: 500px;

}

.contenedor .proyectos{
    background: #ffffff;
    grid-area: proyectos;
}

@media screen and (max-width:768px){
    body{
        background: #d60909;
        color:rgb(255, 255, 255);
        
    }
    .turbowarp {
        width: 75px;
    }
    .islasimg {
        width: 120px;
    }

    .colegioimg {
        width: 100px;
    }
    .contenedor .carrusel{
        background: #ffffff;
        grid-area: carrusel;
        position: bottom;
        width: 320px;

    
    }
    .contenedor .intro{
        background: #ffffff;
        grid-area: intro;
        width: 340px;
    
    
    }

    .contenedor{
        justify-content: center;
        font-size: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto) 100px;
        grid-template-areas:    "header     header"
                                "carrusel   carrusel"
                                "intro      intro"
                                "proyectos  proyectos"
                                
                                "islas      colegio"                                                             
                                "footer     footer";

    }
}